@page

@using SmartSoftware.CmsKit.Admin.Web.Pages.CmsKit.Menus.MenuItems
@using SmartSoftware.CmsKit.Admin.Web.Pages
@using SmartSoftware.CmsKit.Admin.Web.Menus
@using SmartSoftware.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.SmartSoftwarePageToolbar
@using SmartSoftware.AspNetCore.Mvc.UI.Packages.JsTree

@inherits CmsKitAdminPageBase

@model IndexModel

@{
    PageLayout.Content.Title = L["MenuItems"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CMS"].Value);
    PageLayout.Content.MenuItemName = CmsKitAdminMenus.Menus.MenusMenu;
}

@section styles {
    <ss-style-bundle name="@typeof(IndexModel).FullName">
        <ss-style type="typeof(JsTreeStyleContributor)"/>
        <ss-script src="/Pages/CmsKit/Menus/MenuItems/index.css"/>
    </ss-style-bundle>
}

@section scripts {
    <ss-script-bundle name="@typeof(IndexModel).FullName">
        <ss-style type="typeof(JsTreeScriptContributor)"/>
        <ss-script src="/client-proxies/cms-kit-common-proxy.js"/>
        <ss-script src="/client-proxies/cms-kit-admin-proxy.js"/>
        <ss-script src="/Pages/CmsKit/Menus/MenuItems/index.js"/>
        <ss-script src="/Pages/CmsKit/Menus/MenuItems/createModal.js"/>
        <ss-script src="/Pages/CmsKit/Menus/MenuItems/updateModal.js"/>
    </ss-script-bundle>
}

@section content_toolbar {
    @await Component.InvokeAsync(typeof(SmartSoftwarePageToolbarViewComponent), new {pageName = typeof(IndexModel).FullName})
}

<div id="CmsKitMenuItemsWrapper">
    <ss-card>
        <ss-card-body>
            <ss-card-title>
                @L["MenuItems"].Value
            </ss-card-title>

            <div id="MenuItemsEditTree"></div>
            <div id="MenuItemsTreeEmptyInfo" class="text-muted">@L["NoMenuItems"]</div>
        </ss-card-body>
    </ss-card>
</div>
