@using Localization.Resources.SmartSoftwareUi
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SmartSoftwareUiResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
