@using SmartSoftware.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.BordersDemo

<ss-component-demo-section title="Additive" view-path="@BordersDemoViewComponent.ViewPath">
    <span ss-border="Default"></span>
    <span ss-border="Top"></span>
    <span ss-border="Right"></span>
    <span ss-border="Bottom"></span>
    <span ss-border="Left"></span>
</ss-component-demo-section>

<ss-component-demo-section title="Subtractive" view-path="@BordersDemoViewComponent.ViewPath">
    <span class="border" ss-border="_0"></span>
    <span class="border"  ss-border="Top_0"></span>
    <span class="border"  ss-border="Right_0"></span>
    <span  class="border" ss-border="Bottom_0"></span>
    <span class="border" ss-border="Left_0"></span>
</ss-component-demo-section>

<ss-component-demo-section title="Border color" view-path="@BordersDemoViewComponent.ViewPath">
    <span ss-border="Primary"></span>
    <span ss-border="Secondary"></span>
    <span ss-border="Success"></span>
    <span ss-border="Danger"></span>
    <span ss-border="Info"></span>
    <span ss-border="Light"></span>
    <span ss-border="Dark"></span>
    <span ss-border="White"></span>
    <br />
    <span ss-border="Left_Primary"></span>
    <span ss-border="Top_Secondary"></span>
    <span ss-border="Right_Success"></span>
    <span ss-border="Bottom_Danger"></span>
    <span ss-border="Bottom_Warning"></span>
    <span ss-border="Left_Info"></span>
    <span ss-border="Top_Light"></span>
    <span ss-border="Right_Dark"></span>
</ss-component-demo-section>

<ss-component-demo-section title="Border-radius" view-path="@BordersDemoViewComponent.ViewPath">
    <span ss-border="Primary" ss-rounded="Default"></span>
    <span ss-border="Primary" ss-rounded="_0"></span>
    <span ss-border="Primary" ss-rounded="Top"></span>
    <span ss-border="Primary" ss-rounded="Left"></span>
    <span ss-border="Primary" ss-rounded="Bottom"></span>
    <span ss-border="Primary" ss-rounded="Right"></span>
</ss-component-demo-section>
