@using SmartSoftware.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.NavsDemo

<ss-component-demo-section title="Base nav" view-path="@NavsDemoViewComponent.ViewPath">
    <ss-nav nav-style="Pill" align="Center">
        <ss-nav-item>
            <a ss-nav-link active="true" href="#">Active</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">Longer nav link</a>
        </ss-nav-item>
        <ss-nav-item class="dropdown">
            <ss-dropdown>
                <ss-dropdown-button class="text-primary" text="Dropdown button" />
                <ss-dropdown-menu>
                    <ss-dropdown-item href="#">Action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Another action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Something else here</ss-dropdown-item>
                </ss-dropdown-menu>
            </ss-dropdown>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">link</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link disabled="true" href="#">disabled</a>
        </ss-nav-item>
    </ss-nav>
</ss-component-demo-section>

<ss-component-demo-section title="Alignment" view-path="@NavsDemoViewComponent.ViewPath">
    <ss-nav nav-style="Pill" align="Start">
        <ss-nav-item>
            <a ss-nav-link active="true" href="#">Active</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">Longer nav link</a>
        </ss-nav-item>
        <ss-nav-item class="dropdown">
            <ss-dropdown>
                <ss-dropdown-button class="text-primary" text="Dropdown button" />
                <ss-dropdown-menu>
                    <ss-dropdown-item href="#">Action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Another action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Something else here</ss-dropdown-item>
                </ss-dropdown-menu>
            </ss-dropdown>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">link</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link disabled="true" href="#">disabled</a>
        </ss-nav-item>
    </ss-nav>
    <ss-nav nav-style="Pill" align="Center">
        <ss-nav-item>
            <a ss-nav-link active="true" href="#">Active</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">Longer nav link</a>
        </ss-nav-item>
        <ss-nav-item class="dropdown">
            <ss-dropdown>
                <ss-dropdown-button class="text-primary" text="Dropdown button" />
                <ss-dropdown-menu>
                    <ss-dropdown-item href="#">Action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Another action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Something else here</ss-dropdown-item>
                </ss-dropdown-menu>
            </ss-dropdown>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">link</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link disabled="true" href="#">disabled</a>
        </ss-nav-item>
    </ss-nav>
    <ss-nav nav-style="Pill" align="End">
        <ss-nav-item>
            <a ss-nav-link active="true" href="#">Active</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">Longer nav link</a>
        </ss-nav-item>
        <ss-nav-item class="dropdown">
            <ss-dropdown>
                <ss-dropdown-button class="text-primary" text="Dropdown button" />
                <ss-dropdown-menu>
                    <ss-dropdown-item href="#">Action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Another action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Something else here</ss-dropdown-item>
                </ss-dropdown-menu>
            </ss-dropdown>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">link</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link disabled="true" href="#">disabled</a>
        </ss-nav-item>
    </ss-nav>
</ss-component-demo-section>

<ss-component-demo-section title="Vertical" view-path="@NavsDemoViewComponent.ViewPath">
    <ss-nav nav-style="PillVertical" align="Start">
        <ss-nav-item>
            <a ss-nav-link active="true" href="#">Active</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">Longer nav link</a>
        </ss-nav-item>
        <ss-nav-item class="dropdown">
            <ss-dropdown>
                <ss-dropdown-button class="text-primary" text="Dropdown button" />
                <ss-dropdown-menu>
                    <ss-dropdown-item href="#">Action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Another action</ss-dropdown-item>
                    <ss-dropdown-item href="#">Something else here</ss-dropdown-item>
                </ss-dropdown-menu>
            </ss-dropdown>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link href="#">link</a>
        </ss-nav-item>
        <ss-nav-item>
            <a ss-nav-link disabled="true" href="#">disabled</a>
        </ss-nav-item>
    </ss-nav>
</ss-component-demo-section>