@using Microsoft.AspNetCore.Mvc.Localization
@using SmartSoftware.Authorization.Permissions
@using SmartSoftware.SettingManagement
@using SmartSoftware.SettingManagement.Localization
@inject IHtmlLocalizer<SmartSoftwareSettingManagementResource> L
@inject IPermissionChecker PermissionChecker
@model SmartSoftware.SettingManagement.Web.Pages.SettingManagement.Components.EmailSettingGroup.EmailSettingGroupViewComponent.UpdateEmailSettingsViewModel

<ss-script src="/Pages/SettingManagement/Components/EmailSettingGroup/Default.js" />

<form id="EmailSettingsForm" method="post">
    <ss-row>
        <ss-column size-md="_12">
            <div>
                <ss-input asp-for="DefaultFromDisplayName"/>
                <ss-input asp-for="DefaultFromAddress"/>
                <ss-input asp-for="SmtpHost"/>
                <ss-input asp-for="SmtpPort"/>
                <ss-input asp-for="SmtpEnableSsl"/>
                <ss-input asp-for="SmtpUseDefaultCredentials"/>
                <div id="HideSectionWhenUseDefaultCredentialsIsChecked" @Html.Raw(Model.SmtpUseDefaultCredentials ? "style=\"display: none;\"" : "")>
                    <ss-input asp-for="SmtpDomain"/>
                    <ss-input asp-for="SmtpUserName"/>
                    <ss-input type="password" autocomplete="new-password" asp-for="SmtpPassword"/>
                </div>
            </div>
            <hr class="my-4"/>
            <div>
                @if (await PermissionChecker.IsGrantedAsync(SettingManagementPermissions.EmailingTest))
                {
                    <ss-button button-type="Outline_Primary" id="SendTestEmailButton">
                        <i class="fa fa-send"></i> @L["SendTestEmail"]
                    </ss-button>
                }
                <ss-button button-type="Primary" type="submit">
                    <i class="fa fa-save"></i> @L["Save"]
                </ss-button>
            </div>
        </ss-column>
    </ss-row>
</form>
