@page
@using SmartSoftware.AspNetCore.Mvc.UI.Layout
@using SmartSoftware.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.ProgressBarsDemo
@model SmartSoftware.AspNetCore.Mvc.UI.Theme.Basic.Demo.Pages.Components.ProgressBars.IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = "Progress Bars";
}
<h2>Progress Bars</h2>
<p>Based on <a href="https://getbootstrap.com/docs/4.1/components/progress/" target="_blank"> Bootstrap Progress Bars</a>.</p>
<p>Check the <a href="https://docs.smartsoftware.io/en/ss/latest/UI/AspNetCore/Tag-Helpers/Progress-Bars" target="_blank">SS Documentation</a>.</p>

@await Component.InvokeAsync(typeof(ProgressBarsDemoViewComponent))