@page
@using SmartSoftware.ClientSimulation.Pages.ClientSimulation
@model SmartSoftware.ClientSimulation.Pages.ClientSimulation.IndexModel
@section styles {
    <ss-style-bundle>
        <ss-style src="/Pages/ClientSimulation/SimulationArea.css" />
    </ss-style-bundle>
}
@section scripts {
    <ss-script-bundle>
        <ss-script src="/Pages/ClientSimulation/SimulationArea.js" />
        <ss-script src="/Pages/ClientSimulation/Index.js" />
    </ss-script-bundle>
}
<div id="SimulationArea"></div>