@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SmartSoftware.Blogging.Localization
@inject IHtmlLocalizer<BloggingResource> L
@model SmartSoftware.Blogging.Pages.Blogs.IndexModel
@{
    ViewBag.PageTitle = "Blogs";
}
<h2>
    @L["Blogs"]
</h2>

<ul>
    @foreach (var blog in Model.Blogs)
    {
        <li><a asp-page="./Posts/Index" asp-route-blogShortName="@blog.ShortName">@blog.Name</a></li>
    }
</ul>
