@using SmartSoftware.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetAccountLayout();
}
<div class="ss-account-container">
    @RenderBody()
</div>